@model Laptop_shop.ViewModels.Pages.HomeViewModel;
@{
    Layout = "~/Views/Shared/_UserSide.cshtml";
}
@foreach(var product in Model.Products)
{
    <div class="row divCenter">
        <div class="card divDisplayInlineBlock m-1 col-lg-3 col-md-6 col-sm-12">
            <img src=@product.imageData class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@product.title</h5>
                <p class="card-text">
                    @product.description.Substring(0 , 120);
                </p>
                <a href="#" class="btn btn-primary">مشاهده</a>
            </div>
        </div>
    </div>
}

@foreach(var product in Model.BigProducts)
{
    <div class="card mb-3 w-100">
        <div class="row g-0">
            <div class="col-md-4">
                <img src=@product.imageData class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@product.title</h5>
                    <p class="card-text">
                        @product.description
                    </p>
                    <p class="card-text">
                        <small class="text-body-secondary">
                            <button class="btn btn-primary">
                                مشاهده
                            </button>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
}