@model Laptop_shop.ViewModels.Pages.CategoriesAndBrandsViewModel;
@using Laptop_shop.Models.Data;
@{
    Layout = "~/Views/Shared/_UserSide.cshtml";
}
<div class="container-fluid">
    <div class="card my-3 mx-1">
        <h5 class="card-title text-center">برند ها</h5>
        <div class="row p-2">
            @{
                foreach(Brand b in Model.Brands)
                {
                    <div class="col-lg-4 col-md-6 col-sm-12">@Html.ActionLink(b.Title , "FindByBrand" , "CategoriesAndBrands" , b.Id)</div>
                }
            }
        </div>
    </div>
</div>